.btn
{
  border: none;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 17px;
  padding-bottom: 19px;
  display: block;
  width: 280px;
  background: #84b5d2;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;

  @media screen and ($tablet-widths)
  {
    margin: 0;
    padding-bottom: 19px;
    width: 324px;
  }
}
