.btn
{
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background: #84b5d2;
  border: 0;

  width: 280px;
  margin-left: 19px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media screen and($tablet-widths)
  {
    width: 325px;
    margin-left: 60px;
  }

  @media screen and ($desktop-widths)
  {
    width: 480px;
    padding: 17px;
    margin-left: 0px;
  }
  &:hover
  {
    color: #68a0c0;
  }

  &:active
  {
    color: #5698bc;
  }

  &:disabled
  {
    color: #e6e6e6;
  }
}


