.btn
{
  margin: 0 auto;
  margin-top: 12.5%;
  padding-top: 6.07%;
  padding-bottom: 6.07%;
  display: block;
  width: 87.5%;
  background: #84b5d2;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}
