.decoration-top
{
  position: absolute;
  bottom: 177px;
  &--photo
  {
    position: absolute;
    top: 210px;
    //left: 0;
  }
  &--form
  {
    position: absolute;
    top: 205px;
    //left: 0;
  }
}
.decoration-bottom
{
  position: absolute;
  top: -26px;
}
