.feature
{
  padding-bottom: 39px;
  display: flex;
  justify-content: center;
  &:nth-child(3)
  {
    padding-bottom: 0;
  }
  .feature__img
  {
    padding-right: 7px;
    width: 40px;
    vertical-align: middle;
    img
    {
      width: inherit;
    }
  }
  .feature__text
  {
    padding-left: 6px;
    display: flex;
    flex-direction: column;
    width: 210px;
    .feature__header
    {
      padding-bottom: 25px;
      width: 210px;
      text-align: left;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }
    .feature__parargaph
    {
      text-align: center;
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }
}
