input::-webkit-input-placeholder
{
  color: black;
}

input:-moz-placeholder
{ /* Firefox 18- */
  color: black;
}

input::-moz-placeholder
{  /* Firefox 19+ */
  color: black;
}

input:-ms-input-placeholder
{
  color: black;
}
textarea::-webkit-input-placeholder
{
  color: black;
}

textarea:-moz-placeholder
{ /* Firefox 18- */
  color: black;
}

textarea::-moz-placeholder
{  /* Firefox 19+ */
  color: black;
}

textarea:-ms-input-placeholder
{
  color: black;
}

.field__person
{
  margin-bottom: 20px;

  @media screen and ($desktop-widths)
  {
    margin-bottom: 12px;
  }

  @media screen and ($tablet-widths)
  {
    margin-bottom: 9px;
  }

  p
  {
    margin-left: 20px;
    margin-right: 14px;
    //padding-right: 13px;
    color: #333333;
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;

    @media screen and ($desktop-widths)
    {
      margin-left: 0px;
    }
  }

  .field-text__input
  {
    width: 100%;
    margin-right: 20px;
    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 19px;
    background: #f3f3f3;
    border:none;
    color: #000000;
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
}
.field__contacts
{
  //padding-bottom: 28px;

  @media screen and ($desktop-widths)
  {
    margin-right: 5px;
    display: -ms-flexbox;
    display: flex;
    margin-left: 24px;
    padding-bottom: 28px;
  }

  @media screen and ($tablet-widths)
  {
    padding-bottom: 21px;
  }

  p
  {
    color: #333333;
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
  }

  .field-text__input
  {
    margin-left: 20px;
    position: relative;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 19px;
    background: #f3f3f3;
    border:none;
    color: #000000;
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;

    &:hover
    {
      background: #e6e6e6;
    }

    &:focus
    {
      background: #ffffff;
      border: 3px solid #e6e6e6;
      padding-top: 11px;
      padding-bottom: 12px;
    }


    @media screen and ($tablet-widths)
    {
      margin-left: 61px;
      padding-right: 380px;
      padding-top: 14px;
      padding-bottom: 15px;

    }

    @media screen and ($desktop-widths)
    {
      //width: 400px;
      margin:0;
      padding-right: 99px;
      padding-top: 14px;
      padding-bottom: 15px;
    }
  }

  input::-webkit-input-placeholder
  {
    color: black;
  }

  input:-moz-placeholder
  { /* Firefox 18- */
    color: black;
  }

  input::-moz-placeholder
  {  /* Firefox 19+ */
    color: black;
  }

  input:-ms-input-placeholder
  {
    color: black;
  }

  .label__tel
  {
    //display: none;
    position: absolute;
    background: #e6e6e6;
    padding-left: 22px;
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;

    @media screen and ($desktop-widths)
    {
      left: 461px;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    @media screen and ($tablet-widths)
    {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .label__email
  {
    //display: none;
    position: absolute;
    background: #e6e6e6;
    padding-left: 22px;
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 23px;

    @media screen and ($desktop-widths)
    {
      right: 119px;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    @media screen and ($tablet-widths)
    {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.input-checkbox
{
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.input-checkbox + label
{
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.input-checkbox:not(checked)
{
  position: absolute;
  opacity: 0;
}
.input-checkbox:not(checked) + label
{
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  //padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.input-checkbox:not(checked) + label:before
{
  content:"";
  position: absolute;
  top: -4px;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 10%;
  background: #f3f3f3;


  &:hover
  {
    background: #e6e6e6;
  }

  //box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.input-checkbox:not(checked) + label:after
{
  content: "";
  position: absolute;
  top: 15px;
  left: 20px;
  //width: 22px;
  //height: 22px;
  //border-radius: 10px;
  //background: #FFF;
  //box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.input-checkbox:checked + label:before
{
  background: #f3f3f3;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.input-checkbox:checked + label:after
{
  content:  url("../img/icon-tick.svg");
  //left: 26px;
}
/* Показываем получение фокуса. */
.input-checkbox:focus + label:before
{
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}


.radio
{
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label
{
  cursor: pointer;
}
.radio:not(checked)
{
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label
{
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before
{
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 40px;
  height: 40px;

  border: 5px solid #f2f2f2;
  border-radius: 55%;
  background: #f3f3f3;
}
.radio:not(checked) + label:after
{
  content: '';
  position: absolute;
  /*
  top: 1px;
  left: 4px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
  */
}
.radio:checked + label:after
{
  content: '';
  position: absolute;
  top: 8px;
  left: 13px;

  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: black;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
  opacity: 1;
}
.radio:focus + label:before
{
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.field-textarea
{
  padding-top: 22px;
  padding-left: 21px;
  padding-bottom: 95px;
  width: 280px;
  border: none;
  background: #f2f2f2;
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media screen and ($tablet-widths)
  {
    padding-top: 13px;
    width: 627px;
  }

  @media screen and ($desktop-widths)
  {
    width: 940px;
    padding-top: 13px;
  }
}

.field-text__input
{
  &:hover
    {
      background: #e6e6e6;
    }

    &:focus
    {
      background: #ffffff;
      border: 3px solid #e6e6e6;
      padding-top: 11px;
      padding-bottom: 12px;
    }
}

input
{
  outline: none;
}
textarea
{
  outline: none;
}
