.hotel
{
  padding-top: 33px;
  padding-bottom: 49px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "PT Sans";
  text-transform: uppercase;
  text-align: center;
  .hotel__header
  {
    padding-bottom: 40px;
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
  }
  .hotel__text
  {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
