.page-footer
{
  .page-footer__inner
  {
    @media screen and ($tablet-widths)
    {
      display: flex;
      //align-items: center;
    }

    .hashtag
    {
      padding-top: 63px;
      padding-bottom: 23px;
      text-align: center;
      color: #000000;
      font-family: "PT Sans";
      font-size: 21px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;

      @media screen and ($tablet-widths)
      {
        padding-left: 60px;
        padding-right: 112px;
        padding-top: 51px;
        padding-bottom: 53px;
      }

      @media screen and ($desktop-widths)
      {
        padding-top: 51px;
        padding-bottom: 53px;
        padding-left: 132px;
        padding-right: 256px;
      }
    }
    .page-footer__socio
    {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      margin-bottom: 37px;

      @media screen and ($tablet-widths)
      {
        margin-top: 36px;
      }
      li
      {
        background: #84b5d2;
        width: 46px;
        text-align: center;
        margin-left: 3px;
        margin-right: 3px;

        &:hover
        {
          background: #68a0c0;
        }

        &:active
        {
          background: #5698bc;
        }

        svg
        {
          width: 18px;
          height: 14px;
          vertical-align: middle;
          padding-top: 17px;
          padding-bottom: 17px;

          &:hover
          {

          }

          &:active
          {
            fill: #89b7d0;
          }
        }
      }
    }
  }
  .footer__developers
  {
    display: flex;
    justify-content: center;

    @media screen and ($tablet-widths)
    {
      padding-left: 118px;
    }

    @media screen and ($desktop-widths)
    {
      padding-left: 349px;
    }

    .developers__text
    {
      align-self: center;
      padding-right: 11px;
      text-align: center;
      color: #000000;
      font-family: "PT Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;

      @media screen and ($desktop-widths)
      {
        //margin-left: 144px
      }
    }

    svg
    {
      //margin-top: 47px;
      fill: black;

      @media screen and ($tablet-widths)
      {
        margin-top: 47px;
      }

      &:hover
      {
        fill: #84b5d2;
      }

      &:active
      {
        fill: #b2b2b2;
      }
    }
  }
}
