.page-footer
{
  .page-footer__inner
  {
    .hashtag
    {
      padding-top: 31px;
      padding-bottom: 41px;
      text-align: center;
      color: #000000;
      font-family: "PT Sans";
      font-size: 21px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
    }
    .page-footer__socio
    {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
      margin-bottom: 51px;
      li
      {
        background: #84b5d2;
        width: 46px;
        text-align: center;
        margin-left: 3px;
        margin-right: 3px;
        img
        {
          vertical-align: middle;
          padding-top: 17px;
          padding-bottom: 17px;
        }
      }
    }
  }
  .footer__developers
  {
    display: flex;
    justify-content: center;
    .developers__text
    {
      align-self: center;
      padding-right: 11px;
      text-align: center;
      color: #000000;
      font-family: "PT Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
}
