.form
{
  outline: 0;
  @media screen and ($tablet-widths)
  {
    margin: 0;
    //margin-top: 84px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    //width: 648px;
  }

  @media screen and ($desktop-widths)
  {
    //margin-bottom: 65px;
  }
  .form__inner
  {
    width: 100%;
    font-family: 'PT Sans','Arial',sans-serif;
    text-transform: uppercase;

    .sedona-introdution
    {
      background: url('../img/bg-back-mobile@1x.jpg');
      background-size: 100% 100%;
      text-align: center;
      padding-left: 45px;
      padding-top: 52px;
      padding-right: 46px;
      padding-bottom: 67px;

      &:after
      {
        content: url(../img/bg-intro-triangle-mobile.svg);
        position: absolute;
        bottom: -5px;
        right: 0px;
      }

      @media screen and ($tablet-widths)
      {
        background: url('../img/bg-back-tablet@1x.jpg');
        background-size: 100% 100%;
        padding-top: 95px;
        padding-bottom: 117px;
        padding-left: 156px;
        padding-right: 156px;

        &:after
        {
        content: url(../img/bg-intro-triangle-tablet.svg);
        position: absolute;
        bottom: -6px;
        right: 0px;
        }
      }

      @media screen and ($desktop-widths)
      {
        background: url('../img/bg-back-desktop@1x.jpg');
        background-size: 100% 100%;
        padding-top: 102px;
        padding-bottom: 120px;
        padding-left: 370px;
        padding-right: 370px;


        &:after
        {
        content: url(../img/bg-intro-triangle-desktop.svg);
        position: absolute;
        bottom: -6px;
        right: 0px;
        }
      }

      @media screen and ($desktop-widths) and (min-resolution: 144dpi), (min-resolution: 1.5dppx)
      {
        background: url('../img/bg-back-desktop@2x.jpg');
        background-size: 100% 100%;
      }

      @media screen and ($tablet-widths) and (min-resolution: 144dpi), (min-resolution: 1.5dppx)
      {
        background: url('../img/bg-back-desktop@2x.jpg');
        background-size: 100% 100%;
      }
    }

    .intro__sedona
    {
      width: 100%;
      vertical-align: middle;
    }
    .form__header
    {
      text-align: center;
      padding-top: 33px;
      padding-bottom: 26px;
      text-align: center;
      //padding-left: 6.87%;
      //padding-right: 6.87%;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;

      @media screen and ($tablet-widths)
      {
        padding-top: 71px;
        color: #000000;
        font-size: 30px;
        font-weight: 700;
        line-height: 26px;
      }

      @media screen and ($desktop-widths)
      {
        padding-top:108px;
        padding-bottom: 30px;
      }

      @media screen and ($desktop-widths)
      {
        margin-left: 381px;
        margin-right: 381px;
      }

    }
    .form__text
    {
      text-align: center;
      padding-bottom: 17px;
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      //border-bottom:1px solid #e5e5e5;
      padding-bottom: 17px;

      @media screen and ($tablet-widths)
      {
        padding-left: 164px;
        padding-right: 165px;
        padding-bottom: 78px;
        border: none;
      }

      @media screen and ($desktop-widths)
      {
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 58px;
      }

    }
    .form__person
    {
      border-bottom: 1px solid #e5e5e5;
      //padding-bottom: 25px;

      @media screen and ($tablet-widths)
      {
        width: 42%;
        border: none;
        order: 2;
        display: flex;
        flex-direction: column;
      }

      @media screen and ($desktop-widths)
      {
       // margin-left: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 42%;
        //padding-left: 7%;
        padding-bottom: 25px;
      }

      h3
      {
        padding-top: 18px;
        padding-bottom: 25px;
        text-align: center;
        color: #000000;
        font-family: 'PT Sans','Arial',sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;

        @media screen and ($tablet-widths)
        {
          margin-left: 60px;
          padding-top: 0px;
          margin-bottom: 32px;
          font-size: 21px;
          font-weight: 700;
          line-height: 26px;
          text-transform: uppercase;
          text-align: left;
        }

        @media screen and ($desktop-widths)
        {
          margin-bottom: 36px;
          margin-top: 24px;
          align-self: flex-start;
          margin-left: 81px;
          margin-top: 0;
        }

      }
      .field__person
      {
        display: flex;
        align-items: center;
        //margin-left: 38px;


        @media screen and($tablet-widths)
        {
          //margin-bottom: 19px;
          //margin-left: 38px;
        }
        @media screen and ($desktop-widths)
        {
          padding-left: 56px;
          margin-bottom: 21px;
        }
      }
    }

    .form__contacts
    {
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 18px;

      @media screen and ($tablet-widths)
      {
        position: relative;
        margin-top: 10px;
        order: 3;
        width: 800px;
        border: none;
      }

      @media screen and ($desktop-widths)
      {
        width: 100%;
        //margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
      }


      h3
      {
        padding-top: 20px;
        padding-bottom: 14px;
        text-align: center;
        color: #000000;
        font-family: 'PT Sans','Arial',sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;

        @media screen and ($tablet-widths)
        {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 0 auto;
          padding-top: 39px;
          padding-bottom: 19px;
          font-size: 21px;
          font-weight: 700;
          line-height: 26px;
          text-transform: uppercase;

          &:before
          {
            margin-right: 60px;
            align-self: center;
            content: '';
            display: flex;
            width: 140px;
            height: 2px;
            background: #dcdcdc;
          }

          &:after
          {
            margin-left: 60px;
            align-self: center;
            content: '';
            display: flex;
            width: 140px;
            height: 2px;
            background: #dcdcdc;
          }

        }

        @media screen and ($desktop-widths)
        {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding-top: 12px;
          font-size: 21px;
          font-weight: 700;
          line-height: 26px;
          text-transform: uppercase;
          width: 100%;
          padding-bottom: 77px;

          &:before
          {
            margin-right: 60px;
            align-self: center;
            content: '';
            display: flex;
            width: 280px;
            height: 2px;
            background: #dcdcdc;
          }

          &:after
          {
            margin-left: 60px;
            align-self: center;
            content: '';
            display: flex;
            width: 280px;
            height: 2px;
            background: #dcdcdc;
          }
        }
      }
      p
      {
        margin-left: 42px;
        margin-bottom: 7px;


        @media screen and ($desktop-widths)
        {
          align-self: center;
          padding: 0;
          //margin-left: 79px;
          margin-right: 16px;
        }

        @media screen and ($tablet-widths)
        {
          margin-left: 81px;
        }
      }
    }
    .form__impressions
    {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      //border-bottom: 1px solid #e5e5e5;
      padding-bottom: 27px;

      @media screen and ($tablet-widths)
      {
        width: 42%;
        border-bottom:none;
        //border-right: 1px solid #ededed;
        order: 1;
        //padding-right: 49px;
      }

      @media screen and ($desktop-widths)
      {
        padding-top: 0;
        border-right: 1px solid #dbdbdb;
        width: 40%;
        align-items: flex-start;
        //padding-left: 6%;
      }


      h3
      {
        padding-top: 19px;
        padding-bottom: 24px;
        //padding-bottom: 67px;
        text-align: center;
        color: #000000;
        font-family: 'PT Sans','Arial',sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;

        @media screen and ($tablet-widths)
        {
          margin-right: 43px;
          padding-bottom: 60px;
          padding-top: 0px;
          //margin-bottom: 26px;
          font-size: 21px;
          font-weight: 700;
          line-height: 26px;
          text-transform: uppercase;
        }

        @media screen and ($desktop-widths)
        {
          margin-left: 80px;
          //padding-top: 41px;
          //margin-bottom:31px;
        }
      }
      p
      {
        color: #000000;
        text-transform: initial;
        font-family: 'PT Sans';
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-align: right;

        @media screen and ($desktop-widths)
        {
          text-align: left;
          padding-left: 78px;
        }
      }
      .field__radio
      {
        margin-left: 25px;
        margin-right: 31px;
        margin-bottom: 22px;

        @media screen and($tablet-widths)
        {
          margin-right: 65px;
          margin-left: 0;
        }
        @media screen and ($desktop-widths)
        {
          margin-left: 20px;
        }
      }
    }
    .form__atraction
    {
      //background: #e6e6e6;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 25px;

      @media screen and ($tablet-widths)
      {
        width: 100%;
        order: 4;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 0;
        border:none;
      }

      @media screen and($desktop-widths)
      {
        padding-bottom: 40px;
      }

      h3
      {
        padding-top: 8px;
        padding-bottom: 21px;
        text-align: center;
        color: #000000;
        font-family: 'PT Sans','Arial',sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;

        @media screen and ($tablet-widths)
        {
          width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          padding: 50px;
          padding-bottom: 52px;
          padding-top: 20px;

          &:before
          {
            content: '';
            height: 2px;
            width: 200px;
            background: #dcdcdc;
            align-self: center;
          }
          &:after
          {
            content: '';
            height: 2px;
            width: 200px;
            background: #dcdcdc;
            align-self: center;
          }
        }

        @media screen and ($desktop-widths)
        {
          display: flex;
          justify-content: center;
          width: 100%;
          padding-top: 14px;
          padding-bottom: 50px;
          padding-left: 300px;
          padding-right: 300px;
          font-size: 21px;
          font-weight: 700;
          line-height: 26px;
          text-transform: uppercase;

          &:before
          {
            content: '';
            height: 2px;
            width: 340px;
            background: #dcdcdc;
            align-self: center;
          }
          &:after
          {
            content: '';
            height: 2px;
            width: 340px;
            background: #dcdcdc;
            align-self: center;
          }
        }

      }
      .field__text
      {
        color: #000000;
        text-transform: initial;
        font-family: 'PT Sans','Arial',sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;

        @media screen and($tablet-widths)
        {
          margin-left: -46px;
        }

        @media screen and($desktop-widths)
        {
          margin-top: 10px;
          margin-left: 10px;
        }
      }
      .checkboxes
      {
        @media screen and ($tablet-widths)
        {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          margin-left: 130px;
        }
        @media screen and ($desktop-widths)
        {
          display: flex;
          //margin-left: 55px;
        }
      }
      .field__checkbox
      {
        margin-left: 24px;
        margin-top: 13px;
        margin-bottom: 53px;

        &:last-of-type
        {
          margin-bottom: 9px;
        }
        @media screen and ($tablet-widths)
        {
          width: 320px;
          margin-top: 0;
          margin-bottom: 61px;
              margin-right: -83px;
          //margin: 0;
          padding: 0;
        }

        @media screen and ($desktop-widths)
        {
          margin: 0;
          width: 250px;
        }
      }
    }
    .form__opinions
    {
      margin-bottom: 42px;
      margin-right: 20px;
      //margin-left: 20px;
      padding-left: 19px;
      padding-right: 22px;

      @media screen and ($tablet-widths)
      {
        position: relative;
        padding: 0;
        margin: 0;
        order: 5;
      }

      @media screen and($desktop-widths)
      {
        //margin-bottom: 48px;
      }

      h3
      {
        padding-top: 24px;
        padding-bottom: 21px;
        text-align: center;
        color: #000000;
        font-family: 'PT Sans','Arial',sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;

        @media screen and ($tablet-widths)
        {
          font-size: 21px;
          font-weight: 700;
          line-height: 26px;
          text-transform: uppercase;
          margin-top: 31px;
          margin-bottom: 60px;
          padding: 0;
        }

        @media screen and ($desktop-widths)
        {
          display: flex;
          justify-content: center;
          font-size: 21px;
          font-weight: 700;
          line-height: 26px;
          text-transform: uppercase;
          margin-top: 36px;
          margin-bottom: 60px;

          &:before
          {
            content: '';
            height: 2px;
            width: 280px;
            margin-right: 77px;
            background: #dcdcdc;
            align-self: center;
          }
          &:after
          {
            content: '';
            height: 2px;
            width: 280px;
            margin-left: 77px;
            background: #dcdcdc;
            align-self: center;
          }
        }
      }
    }
    .form__button
    {
      margin-bottom: 40px;

      @media screen and($tablet-widths)
      {
        margin-top: 50px;
        margin-bottom: 57px;
        width: 960px;
        display: flex;
        justify-content: flex-start;
        order: 6;
      }
      @media screen and($desktop-widths)
      {
        margin-bottom: 65px;
        width: 960px;
        display: flex;
        justify-content: flex-start;
        order: 6;
      }

      .form__attention
      {
        display: none;
        @media screen and ($tablet-widths)
        {
          display: flex;
          flex-wrap: wrap;
          margin-left: 141px;
          align-self: center;
          color: #333333;
          font-family: "PT Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
          text-transform: uppercase;
        }
        @media screen and ($desktop-widths)
        {
          display: block;
          align-self: center;
          margin-left: 315px;
          color: #333333;
          font-family: "PT Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
          text-transform: uppercase;
        }
      }
    }
  }
}
