.page-header
{

}
.page-header__inner
{
  z-index: 1;
  position: relative;
  background: #ffffff;
  .page-header__logo
  {
    z-index: 100;
    position: absolute;
    top:0;
    right: 109px;

    @media screen and ($tablet-widths)
    {
      position: absolute;
      top: 0;
      right: 333px;
    }

    @media screen and ($desktop-widths)
    {
      right:507px;
    }
  }
}
