.intro
{

}
.intro__inner
{
  .intro__upper
  {
    background: url('../img/bg-back-mobile@1x.jpg');
    //background-size: 100% 100%;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 85px;
    padding-left: 19px;
    padding-right: 19px;
    .intro__sedona
    {
      vertical-align: middle;
      width: 100%;
    }

    .intro__text-welcome
    {

    }
  }
  .intro__downer
  {
    padding-top: 43px;
    padding-left: 32px;
    padding-right: 33px;
    font-family: "PT Sans";
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    .intro__text-sedona
    {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
    }
    .intro__text-reason
    {
        padding-top: 12.5%;
        color: #333333;
        font-size: 14px;
        font-weight: 400;

    }
  }
}
