.logo
{
  z-index: 1;
  position: relative;
  text-align: center;
  height: 60px;
  //transform: translateY(-100%);


  @media screen and ($tablet-widths)
  {
    z-index: 1;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and ($desktop-widths)
  {
    z-index: 1;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.intro
{
  .logo
  {
    //transform: translateY(-100%);
    @media screen and ($tablet-widths)
    {
      transform: translateY(-100%);
    }
    @media screen and ($desktop-widths)
    {
      transform: translateY(-100%);
    }
  }
}
