.main-nav
{
  //height: 56px
  @media screen and ($tablet-widths)
  {
    //display: none;
  }

  .main-nav__list--closed
  {
    //display: none;
  }
  .main-nav__list--opened
  {
    //display: block;
    position: relative;
    text-decoration: none;
    list-style: none;
    //display:none;
    padding: 0;
    margin: 0;

    @media screen and ($tablet-widths)
    {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      //margin-left: 49px;
      //background: white;
    }

    li
    {
      cursor: pointer;
      padding-top: 15px;
      padding-bottom: 18px;
      //padding-top: 15px;
      //padding-bottom: 20px;
      text-align: center;
      background: #84b5d2;
      color: #ffffff;
      font-family: "PT Sans","Arial",sans-serif;
      font-size: 18px;
      font-weight: 700;
      //line-height: 40px;
      text-transform: uppercase;
      box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
      background-color: #81b3d2;

      &:hover
      {
        background: #68a0c0;
        color: white;
      }

      @media screen and ($tablet-widths)
      {
        flex-grow: 1;
        width: 153px;
        background: white;
        color:black;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        box-shadow: none;
        //margin-right: 77px;
        text-align: center;

        &:hover
        {
          background: white;
          color: #a5c9de;
        }

        &:nth-child(2)
        {
          margin-right: 160px;
        }
      }

      @media screen and ($desktop-widths)
      {
        &:hover
        {
          background: white;
          color: #a5c9de;
        }
        &:nth-child(2)
        {
          margin-right: 244px;
        }
      }
    }
  }
}
