.map
{

}
.map__inner
{
  position: relative;
  width: 320px;
  //background: url(../img/bg-map-mobile@1x.jpg);

  @media screen and ($tablet-widths)
  {
    width: 768px;
  }

  @media screen and ($tablet-widths)
  {
    width: 1200px;
  }
  .map__pointer
  {
    position: absolute;
    top: 164px;
    left: 586px;
  }
}
