.photos
{

}
.photo-block
{
  padding-left: 20px;
  padding-top: 22px;
  padding-right: 20px;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid #e5e5e5;
  img
  {
    width: 100%;
    padding-bottom: 22px;
  }
  .photo-block__descr
  {
    padding-bottom: 15px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
  }
  .photo-block__author
  {
    padding-bottom: 12px;
    color: #333333;
    font-weight: 400;
    text-transform:initial;
  }
  .photo-block__likes
  {
    display: flex;
    padding-bottom: 21px;
    width: 21px;
    img
    {
      margin-right: 7px;
    }
    p
    {
      align-self: center;
      margin-left: 7px;
      color: #000000;
      font-family: "PT Sans";
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
    }
  }
}
