.photos
{
  @media screen and ($tablet-widths)
  {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
  }

  @media screen and ($desktop-widths)
  {
    margin: 0;
  }
}
.photo-block
{
  padding-left: 20px;
  padding-top: 22px;
  padding-right: 20px;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid #e5e5e5;

  @media screen and ($tablet-widths)
  {
    background: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    padding:0;
    border-bottom: none;
  }

  @media screen and ($desktop-widths)
  {
    position: relative;
    width: 400px;
  }

  img
  {
    width: 100%;
    //padding-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;

    @media screen and ($tablet-widths)
    {
      padding: 0;
    }
  }

  .photo-information
  {
    padding-top: 22px;
    padding-left: 20px;
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and ($tablet-widths)
    {
      display: flex;
    }

    @media screen and ($desktop-widths)
    {
      display: flex;
      bottom: 0;
      width: 95.0%;
      position: absolute;
      background: rgba(0,0,0,0.3);
      justify-content: space-around;
    }

    .author__name
    {
      font-weight: 400;
      text-transform: capitalize;

      @media screen and ($desktop-widths)
      {
        color: white;
      }
    }

    .author__descr
    {

      @media screen and ($desktop-widths)
      {
        color: white;
      }

      @media screen and ($tablet-widths)
      {
        width: 181px;
      }
    }
  }

  .photo-likes
  {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 11px;
    padding-bottom: 21px;

    @media screen and ($tablet-widths)
    {
      margin-left: 36px;
    }

    @media screen and ($desktop-widths)
    {
      margin-right: 34px;
      color: white;
    }

    img
    {
      width: 21px;
      padding-right: 14px;
    }

    p
    {
      align-self: center;
      font-weight: 700;
    }
  }
}

.photo-block--big
{

  @media screen and ($tablet-widths)
  {
    display: flex;
    flex-wrap: wrap;
    //align-items: flex-start;
    width: 100%;
    padding: 0;
    background-color: #f2f2f2;

    @media screen and ($desktop-widths)
    {
      display: flex;
      position: relative;
    }
  }

  .photo-information
  {

    @media screen and ($tablet-widths)
    {
      padding-top: 22px;
      padding-bottom: 10px;
      padding-left: 20px;
    }

    @media screen and ($desktop-widths)
    {
      width: 98.4%;
      background: rgba(0,0,0,0.6);
      justify-content: center;
    }
  }

  .photo-likes
  {

    @media screen and ($tablet-widths)
    {
      padding: 0;
      padding-top: 6px;
      margin: 0;
      //margin-top: 28px;
      margin-left: 360px;
    }

    @media screen and ($desktop-widths)
    {
      padding-top: 20px;
      margin-left: 950px;
    }
    p
    {

      @media screen and ($tablet-widths)
      {
        align-self: inherit;
      }
    }
  }
}
