@font-face {
  font-family: 'PT Sans';       /* название одно */
  src: url('../fonts/ptsans.woff'); /* разные файлы */
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';       /* название одно */
  src: url('../fonts/ptsans.woff'); /* разные файлы */
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans';       /* название одно */
  src: url('../fonts/ptsans.woff2'); /* разные файлы */
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';       /* название одно */
  src: url('../fonts/ptsans.woff2'); /* разные файлы */
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans';       /* название одно */
  src: url('../fonts/ptsansbold.woff'); /* разные файлы */
  font-weight: bold;
}
@font-face {
  font-family: 'PT Sans';       /* название одно */
  src: url('../fonts/ptsansbold.woff2'); /* разные файлы */
  font-weight: bold;
}


body
{
  width: 320px;
  margin: 0 auto;
  @media screen and ($tablet-widths)
  {
    margin: 0 auto;
    width: 768px;
  }

  @media screen and ($desktop-widths)
  {
    width: 1200px;
    margin: 0 auto;
  }
}
h1,h2,h3,p,li
{
  margin: 0;
  padding: 0;
}
//настройки

p
{
  font-weight: normal;
}
