body
{
  width: 320px;
  width:768px;
  margin: 0 auto;

  @media screen and ($tablet-widths)
  {
    //width: 768px;
  }

  @media screen and ($desktop-widths)
  {
    width: 1200px;
    margin: 0 auto;
  }
}
h1,h2,h3,p,li
{
  margin: 0;
  padding: 0;
}
