.video-controls
  {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -67px;
    left: 20px;

    @media screen and ($tablet-widths)
    {
      bottom: 0;
      left: 60px;
    }

    .video-controls__upper
    {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 648px;
      height: 45px;
      background: rgba(0,0,0,0.6);

      @media screen and ($tablet-widths)
      {
        height: 0;
      }
      input
      {
        width: 235px;

        @media screen and ($tablet-widths)
        {
          width: 390px;
          position: absolute;
          top: 35px;
          right: 165px;
        }
      }
    }
    .video-controls__downer
    {
      display: flex;
      justify-content: flex-start;
      //width: 280px;
      padding-left: 25px;
      padding-top: 22px;
      padding-bottom: 24px;

      @media screen and ($tablet-widths)
      {
        padding: 0;
        height: 93px;
        background: rgba(0,0,0,0.6);
      }

      .downer__replay
      {
        padding-right: 120px;

        @media screen and ($tablet-widths)
        {
          padding: 0;
          padding-top: 35px;
          padding-left: 35px;
        }
        img
        {
          width: 32px;
          height: 20px;
        }
      }
      .downer__subtitles
      {
        padding-right: 15px;

        @media screen and ($tablet-widths)
        {
          padding: 0;
          padding-top: 35px;
          padding-left: 473px;
        }

        img
        {
          width: 32px;
          height: 20px;
        }
      }
      .downer__fullscreen
      {
        @media screen and ($tablet-widths)
        {
          padding: 0;
          padding-top: 35px;
          padding-left: 31px;
        }
        img
        {
          width: 32px;
          height: 20px;
        }
      }
    }
  }
