.why-city
{

}
.why-city__inner
{
  position: relative;
  .city-promo
  {
    text-align: center;
    background: #84b5d2;
    color: #ffffff;
    font-family: "PT Sans";
    text-transform: uppercase;
    .city-promo__header
    {
      padding-left: 28px;
      padding-top: 43px;
      padding-right: 27px;

      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }
    .city-promo__number
    {
      padding-right: 27px;
      padding-top: 20px;
      padding-right: 28px;
      padding-bottom: 25px;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
    .city-promo__descr
    {
      padding-left: 27px;
      padding-right: 28px;
      padding-bottom: 45px;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
    .city-promo__img
    {
      vertical-align: middle;
    }
  }
  .city-promo--inverted
  {
    text-align: center;
    background: #efefef;
    padding-top: 20px;
    //padding-bottom: 25px;
    padding-left: 41px;
    padding-right: 41px;
    text-align: center;
    font-family: "PT Sans";
    text-transform: uppercase;
    .city-promo__header
    {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }
    .city-promo__number
    {
      padding-top: 6.25%;
      padding-bottom: 9.37%;
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
    .city-promo__descr
    {
      border-bottom: 1px solid #d7d7d7;
      padding-bottom: 32px;
      &:last-of-type
      {
        border: 0;
      }
    }
  }
}
.why-city__features
{
  margin-top: 41px;
  margin-bottom: 42px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "PT Sans";
  text-transform: uppercase;
}
