.why-city
{

}
.why-city__inner
{
  .city-promo
  {
    text-align: center;
    background: #84b5d2;
    color: #ffffff;
    font-family: "PT Sans";
    text-transform: uppercase;
    .city-promo__header
    {
      padding-left: 10.3%;
      padding-right: 10.3%;
      padding-top: 12.5%;
      padding-bottom: 6.25%;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }
    .city-promo__number
    {
      padding-top: 6.25%;
      padding-bottom: 9.37%;
      padding-left: 10.3%;
      padding-right: 10.3%;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
    .city-promo__descr
    {
      padding-left: 10.3%;
      padding-right: 10.3%;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
    .city-promo__img
    {
      padding-top: 13.125%;
      vertical-align: middle;
    }
  }
  .city-promo--inverted
  {
    background: #efefef;
    padding-top: 10.31%;
    padding-left: 12.81%;
    padding-right: 12.81%;
    padding-bottom: 10.31%;
    text-align: center;
    font-family: "PT Sans";
    text-transform: uppercase;
    border-bottom: 1px solid #d7d7d7;
    .city-promo__header
    {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }
    .city-promo__number
    {
      padding-top: 6.25%;
      padding-bottom: 9.37%;
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }
}
.why-city__features
{
  padding-top: 8.125%;
  padding-bottom: 13.125%;
  font-family: "PT Sans";
  text-transform: uppercase;
  padding-right: 12.8%;
  .features__img
  {
    vertical-align: middle;
  }
  .features__header
  {
    padding-bottom: 7.81%;
    text-align: left;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
  .features__text
  {
    text-align: center;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}
